MODEL=icon
MODEL_ID=170
MODEL_RAW_ROOT='/smartmet/data/incoming/icon'
MODEL_RAW_DIR='/${RT_HOUR}'
MODEL_RAW_SFC='\*icon-eu_europe_regular-lat-lon_single-level\*.grib2'
MODEL_RAW_ML='\*icon-eu_europe_regular-lat-lon_single-level\*.grib2'

MODEL_RAW_MASK='\*icon-eu_europe_regular-lat-lon\*.grib2'

AREA=europe

#CROP=8,39,45,52.5